*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 16px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#header-nav {
    background-color: #004aad;
    border-radius: 0;
    border: 0;
}


#logo-img {
    background: url('../images/logo.png') no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 0px;
}

#cart-img {
  background: url('../images/cart.png') no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  margin: 5px 5px 5px 5px;
}
.navbar-brand {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.navbar-brand h1 { 
  color: #f5c405;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
  
#nav-list a {
  color: #f5c405;
  text-align: center;
}

#nav-list a:hover {
  text-decoration: underline;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #f5c405;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}