*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 16px;
    background-color: #F8F6E2;
    font-family: Arial, Helvetica, sans-serif;
}

/*Parte correspiendente CSS de la pagina Contacto */

.div_ubicacion{
  width: 600px;
  margin: auto;
  padding-bottom: 3%;
}

.h1_ubi{
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

.container_envios{
  height: 600px;
  overflow: hidden;
  text-align: center;
  padding-top: 3%;
}

.entrega{
  width: 24%;
  height: 500px;
  background-color: #6561E0;
  border-radius: 10%;
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  margin-right: 3%;
}

.entrega p{
  color: white;
  font-size: 30px;
}

.div_contacto{
  height: 700px;
  text-align: center;
}

/*Aqui termina la parte CSS de la pagina Contacto */

/******************************* CSS para el header *******************************/
#header-nav {
    background-color: #004aad;
    border-radius: 0;
    border: 0;
}


#logo-img {
    background: url('../images/logo.png') no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    margin: 10px 15px 10px 0px;
}

#cart-img {
  background: url('../images/cart.png') no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

#cart {
  padding: 0px;
  text-align: center;
}

.navbar-brand {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
.navbar-brand h1 { 
  color: #f5c405;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
  
#nav-list a {
  color: #f5c405;
  text-align: center;
  height: 40px;
  line-height: 50%;
}

#nav-list a:hover {
  text-decoration: underline;
}

#nav-list li {
  height: 40px;
  margin-top: 4.5%;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #f5c405;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
#s-up{  
  background-color: dodgerblue;
  border-radius: 20px;
}
/********** Large devices only **********/
@media (min-width: 1200px){

}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 {
    font-size: 24px;
  }
  #nav-list {
    width: 550px;
  }
  #nav-list a{
    font-size: 14px;
  }
  #nav-list a div{
    margin-top: 4px;
    height: 35px;
    width: 35px;
  } 
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand { 
   margin-left: 35vw; /* 1vw = 1% of viewport width */
  }
  #nav-list li {
    height: 30px;
    margin: 1px;
    
  }
  #nav-list li a {
    height: 30px;
    font-size: 14px;
    padding-top: 11px;
  }
  #cart {
    padding: 0px!important;
  }
  #cart-img {
    height: 30px;
    width: 30px;
    margin-right: 50%;
    position: relative;
    left: 47%;
  }
   
}